* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: lightcyan;
}

.container {
    width: 800px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 30px;
    background-color: lightsteelblue;
    padding: 50px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 25px;
}

.tabs ul {
    width: 600px;
    display: flex;
    gap: 25px;
}

.tabs ul li {
    width: 100%;
    display: block;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.tabs ul li button {
    width: 100%;
    padding: 20px;
    background-color: rgba(61, 44, 214, 0.064);
    border-radius: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

.tabs ul li button i {
    font-size: 35px;
    color: white;
}

.content {
    padding: 50px 40px;
}

.content div {
    font-family: 'Poppins', sans-serif;
    padding: 40px;
    display: none;
    border-radius: 40px;
    background-color: lightskyblue;
    text-align: center;
    color: rgb(87, 64, 87);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}

.content div i {
    padding: 0 0 10px;
    font-size: 40px;
    color: white;
}

.content .active {
    display: block;
}